*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;

}

/* general */

.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 1rem;
}

img{
    width: 100%;
}

.btn{
    all: unset;  /* toglie tutti gli stili */
    display: inline-block;
    white-space: nowrap;
    border-radius: 10em;
    cursor: pointer;
}

/* navbar */

.nav-top{
    position: relative;
    background-color: #0084FD;
    height: 4.7rem;
}

.nav-top .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* .nav-top .nav-link:visited{
    color: white;
} */

.nav-top ul{
    display: none;
    position: absolute;
    top: 4.7rem;
    left: 0;
    right: 0;
    text-align: center;
    background-color: white;
    list-style: none; 
}

.nav-top li{
    padding: 1rem;
    border-bottom: 1px solid grey;
}

.nav-top .nav-link{
    text-decoration: none;
    color: black;
}

.hamburger .fa-bars{
    color: white;
    font-size: 1.25rem;
}

.nav-top .hamburger:hover + ul{
    display: block;
}

@media screen and (min-width: 811px) {
   
    .nav-top ul{
        display: flex;
        align-items: center;
        position: static;
        background-color: transparent;
        height: 100%;
    }
    
    .nav-top li{
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0;
        border: none;
    }
    
    .nav-top .nav-link{
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 1rem;
        text-decoration: none;
        color: white;
    }

    .nav-top .nav-link:hover{
        background-color: rgb(100, 234, 234);
    }
    
    .nav-top .btn{
        background-color: white;
        color: black;
        padding: .5rem;
    }
    
    .nav-top .btn:hover{
        background-color: lightgrey;
    }

    .hamburger{
        display: none;
    }
    
}

/* main */

/* section 1 */

.features{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.card{
    flex: 1 1 100%;
    padding: 1rem;
    background-color: #B5DDFF;
    border-radius: 2rem;
}

.card h2{
    color: #0084FD;
    padding: .5em 0;
}

.card p{
    padding: 1em 0;
}

.big-card .btn-apple{
    background-color: #0084FD;
    color: white;
    padding: .4em 3em;
}

.big-card-img{
    display: flex;
    padding-top: 2em;
    width: 195px;
    margin: 0 auto -1rem;
}

.icon-card{
    text-align: center;
    padding: 1rem;
}

.icon{
    font-size: 5rem;
    color: #0084FD;
}

@media screen and (min-width: 376px) {
    .card{
        flex-basis: calc((100% - 2rem) / 3);
    }

    .big-card{
        flex-basis: calc(100% - calc((100% - 2rem) / 3) - 1rem);
    }

    .big-card-img img{
        justify-content: flex-start;
    }
} 

@media screen and (min-width:811px) {
    .big-card-img img{
        flex: 0 0 50%;
    }

    .big-card-img{
        margin-left: auto;
        margin-right: auto;
    }
}

/* section 2 */

.purple-sect{
    background-color: #9792E4;
    padding: 1.5rem;
}

.planner{
    color: white;
}

.plan-text{
    padding-top: 2rem;
}

.plan-text h2{
    padding-bottom: 2rem;
}

.plan-text p{
    padding-bottom: 2rem;
}

.develop {
    background-color: white;
    border-radius: 2em;
    padding: 1rem;
    text-align: center;
}

.btn-arrow {
    background-color: #9792E4;
    border-radius: 10rem;
    padding: 1em;
    color: black;
    font-size: 1em;
}

/* section 3 */

.testimonial{
    text-align: center;
}

.testimonial-text{
    padding: 3rem 0;
}

.testimonial-text h1{
    color: #9792E4;
    padding: 2rem 0;
    font-size: 3rem;
}

.testimonial-card{
    background-color: #9792E4;
    border-radius: 2em;
    text-align: center;
    margin: 2rem 0;
}

.testimonial-img img{
    border-radius: 10rem;
    width: 13rem;
    height: 13rem;
    padding: 2em;
    overflow: hidden;
    object-fit: cover;
}

.testimonial-content{
    color: white;
}

.testimonial-name{
    font-size: 1.5em;
    padding: 1em;
}

@media screen and (min-width:375px) {
    .testimonial-card{
        display: flex;
    }

    .testimonial-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/* section 4 */

.purple-sect h1{
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

.benefict-card{
    background-color: white;
    border-radius: 1em;
    padding: 2em;
    color: #9792E4;
    margin: 2em 0;
}

.number{
    font-size: 4rem;
}

.benefict-card p{
    padding: 2em 0;
    color: #000000;
}

.btn-purple{
    background-color: #9792E4;
    color: #ffffff;
    border-radius: 2em;
    padding: .5em 2em;
}

/* section 5 */

.about-us h1{
    font-size: 3rem;
    color: #9792E4;
}

.about-us p{
    padding: 2em 0;
}

.img-about{
    position: relative;
}

.img-about img{
    border-radius: 10rem;
    max-width: 20em;
    padding: 2em;
}

.img-about .commas{
    position: absolute;
    top: 0em;
    left: 2.3em;
    color: #9792E4;
    font-size: 6em;
}

.text-about{
    color: #9792E4;
    font-size: 1.5em;
    padding: 1em 0;
}

@media screen and (min-width:375px) {
    .about-container{
        display: flex;
        flex-basis: calc(100% / 2);
    }

    .about-us{
        flex: 1 0 50%;
    }
}

/* section 6 */

.purple-sect{
    margin-top: 3em;
}

.small-container{
    max-width: 810px;
    text-align: center;
    color: white;
}

.small-container p{
    padding: 2em 1em;
}

.free{
    font-size: 5rem;
    color: #FDC15F;
}

.btn-white{
    background-color: white;
    color:#9792E4;
    padding: 1em 4em;
}

/* footer */

footer{
    background-color: #333333;
}